In [2]:
# Part 1: Enter the code below to import Pandas according to the
# conventional method.
import pandas as pd

In [3]:
# Part 2: Load the dataset into a Pandas dataframe.
data = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv')

In [4]:
# Next, display a technical summary of the data to determine the data types of each column, and which columns have missing data.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [5]:
tv_shows = data[data['type'] == 'TV Show']
TV_Y7_shows = tv_shows[tv_shows['rating'] == 'TV-Y7']
print(f'The number of TV-Y7 shows is: {len(TV_Y7_shows)}')

The number of TV-Y7 shows is: 100

In [6]:
# Further filter your dataset so it only contains TV Shows released between the years 2000 and 2009 inclusive.
TV_shows_2000s = tv_shows[(tv_shows['release_year'] >= 2000) & (tv_shows['release_year'] <= 2009)]
print(f'The number of tv shows released between the years 2000 and 2009 is: {len(TV_shows_2000s)} ')

The number of tv shows released between the years 2000 and 2009 is: 113

In [9]:
# Part 1: Enter your code below to import Pandas according to the
# conventional method. Then load the dataset into a Pandas dataframe.
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv')

In [10]:
# After importing the dataset into a pandas data frame, determine the median amount of protein in cereal brands manufactured by Kelloggs. (mfr code "K")
kelloggs_df = df[df['mfr'] == 'K']
median_protein_kelloggs = kelloggs_df['protein'].median()
print(median_protein_kelloggs)

3.0

In [11]:
# In order to comply with new government regulations, all cereals must now come with a Healthiness rating. This rating is calculated based on the following formula:
# healthiness = (protein + fiber) / sugar
# Create a new healthiness column populated with values based on the above formula.
df['healthiness'] = (df['protein'] + df['fiber']) / df['sugars']

# Then, determine the median healthiness value for only General Mills cereals (mfr = "G"), rounded to two decimal places.
general_mills_df = df[df['mfr'] == 'G']
median_healthiness_general_mills = general_mills_df['healthiness'].median()
rounded_median_healthiness_general_mills = round(median_healthiness_general_mills, 2)
print(rounded_median_healthiness_general_mills)

0.47

In [13]:
# Part 1: Enter your code below to import Pandas according to the
# conventional method. Then load the dataset into a Pandas dataframe.
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv')

In [14]:
# Create the 'NameGroup' column
df['NameGroup'] = df['Name'].apply(lambda x: x.split(',')[0][0].lower())

# Count how many passengers have a NameGroup value of 'k'
k_count = df[df['NameGroup'] == 'k'].shape[0]

print(f"Number of passengers with NameGroup 'k': {k_count}")

Number of passengers with NameGroup 'k': 28